*.md
sscraper
line.txt
SymbolScraper/
not_used/
__pycache__/
testFiles.zip
testFiles/
temp/
final_result**/
result**/
xmlFiles**/
latest_chem/
bio_paper/
chem_paper/
final_result**/
Thrust1CheckpointJSON/
Thrust1CheckpointPDF/